<style>

table{
	 border-collapse: collapse;
	        border: 1px solid blue;
	}
table, td{
	    		border-collapse: collapse;
		        border: 2px solid blue;
			padding: 6
		}
th{
	   		 border-collapse: collapse;
		        border: 2px solid blue;
			color:blue;
			background-color:#fff6c4;
			padding: 6
		}


		h1{
			    background-color:darkred;
			    color:red;
			}

		h2{
				
			    background-color:cyan;
			    color:blue;
				}
</style>
